html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#backgroundImage {
  height: 100%;
  max-width: 100vw;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}

#titleSide {
  height: 100%;
  flex: 1.25;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

form div {
  display: inline-block;
}

#formSide {
  background-color: snow;
  height: 100%;
  flex: 1.75;
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
}

#formContainer {
  background-color: white;
  display: block;
  width: 100%;
  padding-left: 4px;
  box-shadow: 0px 20px 10px grey;
}

form {
  max-width: 400px;
}

#formTitle {
  font-family: "Satisfy", sans-serif;
  font-size: 2rem;
  align-self: center;
  display: block;
}

#email,
#phone {
  margin-top: 10px;
}

button {
  background-color: olive;
  text-align: center;
  margin-top: 30px;
  display: block;
  height: 30px;
  width: 50%;
  margin-left: 5px;
  color: white;
}

input:required:valid {
  border-color: green;
}
input:required:invalid {
  border-color: red;
}
